.profile__about {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 690px) {
  .profile__about {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  }
}

@media screen and (max-width: 450px) {
  .profile__about {
    font-size: 14px;
    line-height: 17px;
  }
}
